#minimize
        {
          background-color: rgb(165, 111, 228);
        }

#link_colo{
    color: rgb(252, 249, 249);
}  

#pad{
    padding-top: 100px;
}
body{
    background-color: rgb(239,233,215);
}
.navbar-default .navbar-nav>li>a
{
    color: black;
}     

.navbar-default .navbar-nav>li>a:hover
{
    color: rgb(246, 247, 185);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0c0c0c;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}
